/* variações de posições por classe */
.pink_one {
  top: -68%;
  left: -568%;
}
.pink_two {
  top: -68%;
  left: -328%;
}
.pink_tree {
  top: -68%;
  left: -84%;
}
.pink_four {
  top: -68%;
  left: 159%;
}
.pink_five {
  top: -68%;
  left: 404%;
}
.pink_six {
  top: -68%;
  left: 650%;
}
.pink_serven {
  top: -68%;
  left: 894%;
}
.pink_eight {
  top: -68%;
  left: 1135%;
}
.pink_nine {
  top: -68%;
  left: 1379%;
}
