/* variações de posições por classe */
.orange_one {
  top: -44%;
  left: -1567%;
}
.orange_two {
  top: -44%;
  left: -1324%;
}
.orange_tree {
  top: -44%;
  left: -1078%;
}
.orange_four {
  top: -44%;
  left: -835%;
}
.orange_five {
  top: -44%;
  left: -590%;
}
.orange_six {
  top: -44%;
  left: -345%;
}
.orange_serven {
  top: -44%;
  left: -100%;
}
.orange_eight {
  top: -44%;
  left: 145%;
}
.orange_nine {
  top: -44%;
  left: 385%;
}
