/* variações de posições por classe */
.blue_one {
  top: -56%;
  left: -1067%;
}
.blue_two {
  top: -56%;
  left: -825%;
}
.blue_tree {
  top: -56%;
  left: -580%;
}
.blue_four {
  top: -56%;
  left: -335%;
}
.blue_five {
  top: -56%;
  left: -90%;
}
.blue_six {
  top: -56%;
  left: 155%;
}
.blue_serven {
  top: -56%;
  left: 400%;
}
.blue_eight {
  top: -56%;
  left: 640%;
}
.blue_nine {
  top: -56%;
  left: 885%;
}
