/* variações de posições por classe */
.green_one {
  top: -80%;
}
.green_two {
  top: -80%;
  left: 175%;
}
.green_tree {
  top: -80%;
  left: 420%;
}
.green_four {
  top: -80%;
  left: 662%;
}
.green_five {
  top: -80%;
  left: 908%;
}
.green_six {
  top: -80%;
  left: 1150%;
}
.green_serven {
  top: -80%;
  left: 1393%;
}
.green_eight {
  top: -80%;
  left: 1636%;
}
.green_nine {
  top: -80%;
  left: 1880%;
}
